[build-system]
requires = ["hatchling >= 1.26"]
build-backend = "hatchling.build"

[project]
name = "dsap"
version = "0.0.3"
description = "Common data structures and algorithms written in Python for learning"
authors = [{ name = "Tim Shur" }, { name = "Daniel Ochoa" }]
readme = "README.md"
license = "MIT"
license-files = ["LICEN[CS]E*"]
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
requires-python = ">=3.12"
dependencies = []

[project.optional-dependencies]
test = [
    "ruff",
    "mypy",
    "pytest",
    "pytest-cov",
    "pytest-testmon",
    "pytest-watcher",
]
release = ["build", "twine"]
